*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.principal{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  
}

.principal ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.principal ul li{
  width: 32%;
  height: 150px;
  display: flex;
  justify-content: center;
  background-color: #ccc;
  padding: 5px;
}

.principal h2{
  margin: 15px 0;
  text-transform: uppercase;
}