*,*::after,*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#perfil h1{
	display: flex;
	justify-content: center;
	margin: 20px 0;
	font-size: 26px;

}

#perfil p{
	text-align: center;
    margin: 20px 0;
}

.star{
	margin: 0 auto;
}

#perfil{
	width: 100%;
	padding: 30px 3%;
}

.img-rounded {
	width: 50%;
	border-radius: 50%;
}

#conquistas , #treinador {
	width: 100%;
	text-align: center;	
    
}

#conquistas ul ,  #treinador ul{ 
	width: 100%;
	display: flex ;
	flex-wrap: wrap;
	justify-content: space-around;
    margin: 20px 0;
}

h2{
    font-size: 20px;
}

#perfil, #conquistas ul li, #treinador ul li{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#conquistas ul li img, #treinador ul li img{
	width: 100%;
}

#conquistas ul li figure , #treinador ul li figure{
	display: flex;
	align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}