*,*::after,*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#perfil{
	width: 100%;
	margin-top: 2%;
}

#perfil, #conquistas ul li, #treinador ul li{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#conquistas ul li img, #treinador ul li img{
	width: 25vw;

}
#conquistas ul ,  #treinador ul{ 
	display: flex ;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}
.img-rounded {
	width: 20vw;
	border-radius: 50%;
} 
#conquistas , #treinador {
	text-align: center;
}
#conquistas ul li, #treinador ul li{
	margin-left: 2%;
	width: 20vw
} 
#conquistas ul li div , #treinador ul li div{
	display: flex;
	align-items: center;
    overflow: hidden;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}