*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.clear{
    clear: both;
}

header{
  padding: 10px 20px;
  background: rgb(146, 16, 16);
  display: flex;
  justify-content: space-between;
  
}

.logo{
    width: auto;
    height: 50px;
    background-color: ;
    
}


nav img{
    margin-top: 10px;
    width: 30px;
    cursor: pointer;
    float: right;
}

nav ul{
    display:none;
    list-style: none;
    position: absolute;
    background: black;
    padding: 5px;
    top: 60px;
    right: 20px;
}

nav li{
    text-align: center;
}

nav a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
}
