*,*::after,*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card-perfil article{
	padding: 0 1rem;
}

.card-perfil h1{
	display: flex;
	justify-content: center;
	margin: 30px 0;
	font-size: 3.5rem;

}

.card-perfil p{
	display: flex;
	justify-content: center;
	margin-top: 40px;
	font-size: 2.4em;
	text-align: center;
}

.img-rounded{
	background: url("../imagens/atleta_edited.jpg") no-repeat;
	background-position: center;
	background-size: 100%;
	margin: 0px auto;
	margin-top: 300px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.star{
	width: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*SECTION PRINCIPAL*/
.conquistas{
	width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow: 1px 1px 8px #000;
	margin-top: 30px;

}

.conquistas h2{
	margin-top: 30px;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 2.7em;
}

.img-rectangle-trofeu{
	width: 250px;
	height: 250px;
	box-shadow: 3px 3px 8px #000;
	background: url("../imagens/trofeu.jpg") no-repeat center;
}

.img-rectangle-patrocinador{
	width: 250px;
	height: 250px;
	box-shadow: 3px 3px 8px #000;
	background: url("../imagens/bolt-treinador.jpg") no-repeat center;
}

.conquistas ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px 20px;
}

.conquistas ul li{
	width: 32%;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.conquistas li span{
	margin-top: 15px;
	font-size: 2rem;
	text-align: center;
}